// File: custom.scss

// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
$bv-enable-table-stacked: false;


//$primary: #14593c;
//$secondary: #07eb5e;


$theme-colors: (
  "primary ":#14593c,
  "secondary ":#1d2a36,
  "success ":rgb(75, 191, 115),
  "danger ":rgb(153, 0, 0),
  "warning ":rgb(240, 173, 78),
  "info ":rgb(31, 155, 207)
);

$primary: #14593c;
// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// General style overrides and custom classes
body {
  margin: 0;
}

.my-widget {
  color: var(--danger);
}
